@model Halbot.Models.IndexModel

@{
    ViewData["Title"] = "Overview";
    Layout = "_Layout";
}


<table class="alternating">

    @foreach (var activity in Model.CombinedData.OrderByDescending(a => a.Date.Date).ThenByDescending(a => a.Type).ToList())
    {
        @if (activity.Type == WrappedType.HalbotActivity)
        {
            <tr>
                <td>
                    <a asp-controller="Home" asp-action="Run" asp-route-id="@activity.HalbotActivity.Id">@($"{activity.HalbotActivity.Distance / 1000:0.00} km")</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Run" asp-route-id="@activity.HalbotActivity.Id">@($"{activity.HalbotActivity.Pace} m/km")</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Run" asp-route-id="@activity.HalbotActivity.Id">@($"{activity.HalbotActivity.Climb:#}m")</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Run" asp-route-id="@activity.HalbotActivity.Id">@($"{activity.HalbotActivity.Date:D}")</a>
                </td>
                <td>
                    <a asp-controller="Home" asp-action="Run" asp-route-id="@activity.HalbotActivity.Id">@($"{activity.HalbotActivity.Effort}")</a>
                </td>

                <td class=@Model.DistanceCategory(activity)>&nbsp;</td>

            </tr>
        }

        @if (activity.Type == WrappedType.Workout)
        {
            <tr>
                <td>
                    <a asp-controller="Workout" asp-action="Workout" asp-route-id="@activity.WorkoutRecord.Id">@($"{activity.WorkoutRecord.Minutes} mins")</a>
                </td>
                <td>
                    <a asp-controller="Workout" asp-action="Workout" asp-route-id="@activity.WorkoutRecord.Id">Strength</a>
                </td>
                <td>
                    <a asp-controller="Workout" asp-action="Workout" asp-route-id="@activity.WorkoutRecord.Id">-</a>
                </td>
                <td>
                    <a asp-controller="Workout" asp-action="Workout" asp-route-id="@activity.WorkoutRecord.Id">@($"{activity.WorkoutRecord.Date:D}")</a>
                </td>
                <td>
                    <a asp-controller="Workout" asp-action="Workout" asp-route-id="@activity.WorkoutRecord.Id">-</a>
                </td>

                <td class=@Model.DistanceCategory(activity)>&nbsp;</td>

            </tr>
        }
    
    }

</table>