@model Halbot.Models.PlanModel

@{
    ViewData["Title"] = "Plan";
    Layout = "_Layout";
}


<!-- DISPLAY-->
@foreach (var week in Model.Weeks.OrderBy(p => p.Key))
{
    <div class="box">
        <table>
            <tr>
                <th>Week: @week.Key - @week.Value.WeekMileage<span>km</span></th>
            </tr>
            @foreach (var record in week.Value.Runs)
            {
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    @if (record.Date == DateTime.UtcNow.Date)
                    {
                        // today
                        <th>@record.Date.ToLongDateString()</th>
                    }
                    else
                    {
                        <td>@record.Date.ToLongDateString()</td>
                    }

                    <td class="right">@($"{record.Description}")</td>
                    <td>&nbsp;</td>
                    <td class=@record.Label>&nbsp;</td>
                </tr>
            }
        </table>
    </div>
}

<div><a href="https://trello.com/b/fvn5LZrM/plan">Edit on Trello</a></div>
<div><a href="https://hardloopschema.nl/v2/index.php/tussentijden-schema-pace-calculator/">Pace calculator</a></div>



