@model Halbot.Models.StatsModel

@{
    ViewData["Title"] = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- week -->
<div class="box">
    <table>
        <tr>
            <th>&nbsp;</th>
            <th class="right">Last week:</th>
            <th class="right">This week:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.Week)
        {
            <tr>
                <td>@item.Item1</td>
                <td class="right">@item.Item2</td>
                <td class="right">@item.Item3</td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <!-- month -->
    <table>
        <tr>
            <th>&nbsp;</th>
            <th class="right">Last month:</th>
            <th class="right">This month:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.Month)
        {
            <tr>
                <td>@item.Item1</td>
                <td class="right">@item.Item2</td>
                <td class="right">@item.Item3</td>
            </tr>
        }
    </table>

</div>
<div class="box">


    <!-- year -->
    <table>
        <tr>
            <th>&nbsp;</th>
            <th class="right">Last year:</th>
            <th class="right">This year:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.Year)
        {
            <tr>
                <td>@item.Item1</td>
                <td class="right">@item.Item2</td>
                <td class="right">@item.Item3</td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <table>
        <tr>
            <th>&nbsp;</th>
            <th class="right">Lifetime:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.Alltime)
        {
            <tr>
                <td>@item.Item1</td>
                <td class="right">@item.Item2</td>
            </tr>
        }
    </table>

    <!-- bests -->

</div>
<div class="box">

    <table>
        <tr>
            <th>Top 5 best effort:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.BestEffort)
        {
            <tr>
                <td>@(Model.BestEffort.IndexOf(item) + 1)<text>.</text></td>
                <td>@Html.ActionLink(@item.Effort.ToString(), "Run", new { id = item.Id })</td>
                <td>@Html.ActionLink("on " + item.Date.ToString("dddd, MMMM dd yyyy"), "Run", new { id = item.Id })</td>
                <td class="right" width="100px">
                    <div style="display: inline-block; width: @Math.Round((100 / (double) (Model.BestEffort.First().Effort / (double) item.Effort)))%; height: 100%; background-color: chocolate">&nbsp;</div>
                </td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <table>
        <tr>
            <th>Top 5 longest distance:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.LongestRuns)
        {
            <tr>
                <td>@(Model.LongestRuns.IndexOf(item) + 1)<text>.</text></td>
                <td>@Html.ActionLink((item.Distance / 1000).ToString("F2") + " km", "Run", new { id = item.Id })</td>
                <td>@Html.ActionLink("on " + item.Date.ToString("dddd, MMMM dd yyyy"), "Run", new { id = item.Id })</td>
                <td class="right" width="100px">
                    <div style="display: inline-block; width: @Math.Round((100 / ((double) Model.LongestRuns.First().Distance / (double) item.Distance)))%; height: 100%; background-color: goldenrod">&nbsp;</div>
                </td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <table>
        <tr>
            <th>Top 5 fastest pace:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.FastestRuns)
        {
            <tr>
                <td>@(Model.FastestRuns.IndexOf(item) + 1)<text>.</text></td>
                <td>@Html.ActionLink(item.Pace + " m/km", "Run", new { id = item.Id })</td>
                <td>@Html.ActionLink("on " + item.Date.ToString("dddd MMMM dd yyyy"), "Run", new { id = item.Id })</td>
                <td class="right" width="100px">
                    <div style="display: inline-block; width: @Math.Round((100 / ((double) Model.FastestRuns.First().Speed / (double) item.Speed)))%; height: 100%; background-color: cadetblue">&nbsp;</div>
                </td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <table>
        <tr>
            <th>Top 5 highest climb:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.HighestRuns)
        {
            <tr>
                <td>@(Model.HighestRuns.IndexOf(item) + 1)<text>.</text></td>
                <td>@Html.ActionLink(Math.Round(item.Climb) + " meter", "Run", new { id = item.Id })</td>
                <td>@Html.ActionLink("on " + @item.Date.ToString("dddd, MMMM dd yyyy"), "Run", new { id = item.Id })</td>
                <td class="right" width="100px">
                    <div style="display: inline-block; width: @Math.Round((100 / ((double) Model.HighestRuns.First().Climb / (double) item.Climb)))%; height: 100%; background-color: darkseagreen">&nbsp;</div>
                </td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <table>
        <tr>
            <th>Top 5 best week (by volume):</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.BestWeeks)
        {
            <tr>
                <td>@item.Key</td>
                <td class="right">@item.Value.ToString("F2") km</td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <table>
        <tr>
            <th>Top 5 best months (by volume):</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.BestMonths)
        {
            <tr>
                <td>@item.Key</td>
                <td class="right">@item.Value.ToString("F2") km</td>
            </tr>
        }
    </table>

</div>
<div class="box">

    <table>
        <tr>
            <th>Top 5 best years (by volume):</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @foreach (var item in Model.BestYears)
        {
            <tr>
                <td>@item.Key</td>
                <td class="right">@item.Value.ToString("F2") km</td>
            </tr>
        }
    </table>
</div>
<div class="box">
    <table>
        <tr>
            <th>Activities by type:</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Classic</td>
            <td class="right">@Model.Activities.Count(a => a.DataType == ActivityDataType.Classic)</td>
        </tr>
        <tr>
            <td>TomTom</td>
            <td class="right">@Model.Activities.Count(a => a.DataType == ActivityDataType.TomTom)</td>
        </tr>
        <tr>
            <td>Garmin</td>
            <td class="right">@Model.Activities.Count(a => a.DataType == ActivityDataType.Garmin || a.DataType == ActivityDataType.FlatGarmin)</td>
        </tr>
    </table>

</div>
