@model Halbot.Models.HalbotActivity

@{
    ViewData["Title"] = "Edit Run";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_RunDetails" for="@Model" />

<div class="box">
    @using (Html.BeginForm("Save", "Activity", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Description:</label>
        <br />
        <input type="text" name="description" id="description" value="@Model.Description" />

        <label>Journal:</label>
        <br />
        <textarea name="journal" id="journal" cols="40" rows="5">@Model.Journal</textarea>

        @if (Model.DataType == ActivityDataType.Garmin)
        {
            <label>Average heartrate:</label>
            <br />
            <input type="number" name="heartrate" id="heartrate" value="@Model.Heartrate" />

            <br />

            <label>Highest point (meters):</label>
            <br />
            <input type="number" name="maxElevation" id="maxElevation" value="@Model.MaxElevation" />

            <br />

            <label>Date:</label>
            <br />
            <input type="date" name="date" id="date" value="@Model.Date.ToString("yyyy-MM-dd")" />
        }
        
        <input type="hidden" name="id" id="id" value="@Model.Id" />
        <input type="submit" name="submit" id="Save" value="SAVE" />
    }
</div>