@using System.Globalization
@model Halbot.Models.HalbotActivity

<div class="box">

    <table>
        <tr><th>@Model.Date.ToLongDateString()</th></tr>
        <tr>
            <td>
                @if (string.IsNullOrWhiteSpace(Model.Description))
                {
                    <a asp-area="" asp-controller="Activity" asp-action="EditDescription" asp-route-id="@Model.Id">...</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Activity" asp-action="EditDescription" asp-route-id="@Model.Id">@Model.Description</a>
                }
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td><b>Data type:</b></td>
            <td class="right">@Model.DataType</td>
        </tr>
        <tr>
            <td><b>Id:</b></td>
            <td class="right">@Model.Id</td>
        </tr>
        <tr>
            <td><b>Race:</b></td>
            <td class="right">@(Model.IsRace ? "Yes" : "No")</td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td><b>Distance:</b></td>
            <td class="right">@($"{Model.Distance / 1000:0.00} km")</td>
        </tr>
        <tr>
            <td><b>Duration:</b></td>
            <td class="right">@((Model.Duration == 0 ? "-" : TimeSpan.FromSeconds(Model.Duration).ToString(@"hh\:mm\:ss")))</td>
        </tr>
        <tr>
            <td><b>Pace:</b></td>
            <td class="right">@($"{Model.Pace} m/km")</td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td><b>Average heartrate:</b></td>
            <td class="right">@(Model.Heartrate == 0 ? "-" : Math.Round(Model.Heartrate).ToString(CultureInfo.InvariantCulture))</td>
        </tr>
        <tr>
            <td><b>Average cadance:</b></td>
            <td class="right">@(Model.Cadence == 0 ? "-" : Math.Round(Model.Cadence).ToString(CultureInfo.InvariantCulture))</td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td><b>Effort:</b></td>
            <td class="right">@Model.Effort</td>
        </tr>
        <tr>
            <td><b>Aerobic training effect:</b></td>
            <td class="right">@(Model.TrainingEffect == 0 ? "-" : Math.Round(Model.TrainingEffect, 5).ToString(CultureInfo.InvariantCulture))</td>
        </tr>
        <tr>
            <td><b>Anaerobic training effect:</b></td>
            <td class="right">@(Model.AnaerobicTrainingEffect == 0 ? "-" : Math.Round(Model.AnaerobicTrainingEffect, 5).ToString(CultureInfo.InvariantCulture))</td>
        </tr>

        <tr><td>&nbsp;</td></tr>

        <tr>
            <td><b>Elevation gain:</b></td>
            <td class="right">@(Model.Climb == 0 ? "-" : Model.Climb.ToString(CultureInfo.InvariantCulture))</td>
        </tr>
        <tr>
            <td><b>Elevation loss:</b></td>
            <td class="right">@(Model.Descent == 0 ? "-" : Model.Descent.ToString(CultureInfo.InvariantCulture))</td>
        </tr>

        <tr><td>&nbsp;</td></tr>
        
        <tr><td>@Model.Journal</td></tr>
        
        <tr><td>&nbsp;</td></tr>
        
        <tr>
            <td>
                @if (Model.DataType == ActivityDataType.TomTom)
                {
                    <a href="@Model.Url"><u>View on TomTom Sports</u></a>
                }
                else if (Model.DataType == ActivityDataType.Garmin)
                {
                    <a href="@Model.Url"><u>View on Garmin Connect</u></a>
                }
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>

</div>
